body {
    font-family: Lato, sans-serif;
    background: url(images/plan-page.jpg) no-repeat center center fixed;
    font-size: 16px;
    width: 1180px;
    margin: auto;
}


section article {
    background: #262626;
    display: inline-block;
    margin: 150px 20px 0 30px;
    border: 5px solid #424242;
    color: #a1a1a1;
    width: 330px;
    height: 500px;
    text-align: center;
}

section article h1 {
    font-size: 1.5em;
    color: #FFF;
    margin: 25px 0 25px 0px;
}

section article p.price {
    font-size: 3em;
    font-weight: bold;
    color: #27dcc4;
}
section article ul {
    padding: 0;
}

section article button {
    background: #27dcc4;
    color: #ffffff;
    padding: 15px 30px;
    margin: 25px 0;
    font-size: 0.9em;
    cursor: pointer;
    border: none;
}

section article button:hover {
    background: #ACACAC;
}


section article ul li {
    list-style-type: none;
    padding: 5px 0;
}